# Basics of python

## Answer 1.

* Some of the key features of python that makes it popularly used in the Data industry are: 
  *  A huge number of libraries around 137000.
  * It is a general purpose language used for web development, data analysis, automation, image processing etc.
  * Ease of learning and readability.

## Answer 2.

In [2]:
""" Predefined keywords in Python are reserved words that are part of the Python language syntax and are used to define the structure and behavior 
    of the language. """
help("keywords") #gives the list of the keywords that are available in python.

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [3]:
#This examples showcases two predefined keywords in python which are True and False and are predefined as boolean values as 1 and 0.
a = True 
b = False

a*b #multiplication of 1*0 should give 0

0

In [4]:
a-b #substraction of 1-0 should give 1

1

In [5]:
a/b #division of 1/0 should give ZeroDivisionError

ZeroDivisionError: division by zero

In [ ]:
#The above examples showcases mathematical operations of the keywords to prove that they are already predefined in python.

## Answer 3.

### Mutable ojects

In [17]:
#A list is a collection of items that are ordered and changeable. Lists allow duplicate elements and can contain items of different types.
List = [1,2,3,3]
List[1] = "change"

List #The above should replace 2 with change in the list showing that list is a mutable object.

[1, 'change', 3, 3]

In [15]:
#A dictionary is a collection of key-value pairs. Each key is unique and maps to a value.
Dict = {'c': 1, 'd': 2}
Dict['c'] = 3  # Dict is now {'c': 3, 'c': 2}
Dict

{'c': 3, 'd': 2}

### Immutable objects

In [9]:
#A string is a sequence of characters. Strings are used to represent text.
String = "change"
String[2] = "game" #Gives TypeError: 'str' object does not support item assignment showing that string is a immutable object.

TypeError: 'str' object does not support item assignment

In [16]:
#A tuple is similar to a list but is immutable. Tuples are used to group related data.
Tuple = (1, 2, 3)
Tuple[1] = 8
Tuple #Gives TypeError: 'tuple' object does not support item assignment showing that tuple is a immutable object.

TypeError: 'tuple' object does not support item assignment

### Comparsion and contrast

* List and Dictionary are the example of mutable objects means that items contained in these objects can be changed and supports item assignment.
* A dictionary is a collection of key-value pairs. Each key is unique and maps to a value unlike list which is a collection of items which are not 
  assigned a key value pair.
* Strings and tuple are the example of immutable objects and does not support item assignment.
* A tuple is similar to a list but is immutable.

## Answer 4.

* Arithmetic operators are used to perform mathematical operations such as addition, subtraction, multiplication, and division.
  Eg.

In [ ]:
3 + 2 # Output: 5

In [ ]:
3 ** 2  # Output: 9

* Comparison operators are used to compare two values and return a Boolean result.

In [ ]:
3 == 2  # Output: False

In [ ]:
3 >= 2  # Output: True

* Logical Operators are used to combine conditional statements.

In [ ]:
True and False # Output: False

In [ ]:
(3 > 2) and (3 < 4) #Output: True

* Bitwise operators are used to perform bit-level operations.

In [ ]:
# Bitwise & 
3 & 2  # Output: 2

In [ ]:
# Bitwise OR 
3 | 2  # Output: 3

In [ ]:
# Bitwise XOR
3 ^ 2  # Output: 1

In [ ]:
# Bitwise NOT
~3  # Output: -4

In [ ]:
# Bitwise left shift
3 << 2  # Output: 12

In [ ]:
# Bitwise right shift
3 >> 2  # Output: 0

* Assignment operators are used to assign values to variables.

In [ ]:
#Assign
x = 2
#Add and Assign
x += 2  # Equivalent to x = x + 2

* Membership operators are used to test if a sequence is present in an object.

In [ ]:
3 in [1, 2, 3]  # Output: True

* Identity operators are used to compare the memory locations of two objects.

In [ ]:
x = [1, 2, 3]
y = x
x is y  # Output: True

## Answer 5.

* Type casting in Python refers to the conversion of one data type into another. This can be useful when you need to perform operations that   require a specific data type or when you need to ensure that your data is in the correct format.

In [ ]:
#Eg. int() converts other datatypes into interger but doesn't work for strings.
x = int(1.5)  # Output: 1
y = int("42")  # Output: 42

In [ ]:
#Eg. str() converts other datatypes into string. 
x = str(42)  # Output: "42"
y = str(3.14)  # Output: "3.14"

## Answer 6.

* Conditional statements in Python allow you to execute different blocks of code based on certain conditions. The primary conditional        statements in Python are if, elif, and else.

In [ ]:
#Eg.
weather = "sunny"
if weather == "rainy":
    print("I will not play cricket")
else:
    print("I will play cricket") # Output: I will play cricket

In [1]:
#Eg. 
a = 100
if a > 100:
    print("number is greater than 100")
elif a < 100:
    print("number is smaller than 100")
else:
    print("equals to 100") # Output: equals to 100

equals to 100

## Answer 7

#### While loop

* While loop repeatedly executes a block of code until a condition is met

In [9]:
n = 7
i = 1

while i < 7:
    print(i)
    i = i + 1

1
2
2
3
4
4
5
5
6
6
7

#### For loop

* For loop iterates over a sequence of elements i.e strings , lists etc.

In [11]:
l = [1,23,"pranay","Sam"]
for i in l:
    print(i)

1
23
pranay
Sam